
.intro-section{
  padding-top: 50px;
}

.backgroundImg{
  position: relative;
  width: 100%;
  height: auto;
  padding: 0px;
  top: -25px;
}

.top-section{
  display: block;
  width: 100%;
  height: auto;
  padding: 0px;
  margin-bottom: -25px;
}

.headline-section{
  color: white;
  font-family: helvetica;
  text-align: left;
  position: absolute;
  left: 15%;
  top: 20%;
  width: auto;
}

.navButton-section{
  position: absolute;
  width: 100%;
  top: 65%;
  margin-left: 25px;
}

.navButtons{
  color: white;
  font-family: helvetica;
  background-color: rgba(211,211,211,0);
  font-size: 30px;
  font-weight: 400;
  border-radius: 8px;
  border: 2px solid white;
  margin-left: 25px;
  margin-right: 25px;
  width: 150px;
  padding: 10px;
}
.navButtons:hover{
  color: white;
  background-color: rgba(211,211,211,0.2);
}
.navButtons:active{
  color: white;
  background-color: rgba(211,211,211,0.2);
}
.navButtons:visited{
  color: white;
  background-color: rgba(211,211,211,0.2);
}
.navButtons:focus{
  color: white;
  background-color: rgba(211,211,211,0.2);
}

.about-section, .services-section, .contact-section{
  width: 100%;
  padding-top: 0px;
}

.about-section{
/*  background-color: #E5FFF2;*/
}

.row{
  margin-left: auto;
  margin-right: auto;
}

.section-heading{
  margin-top: 65px;
  margin-bottom: 50px;
}

.tabRow{
  padding: 0px;
}
.portrait{
  width: 60%;
  height: auto;
}

.alltabs{
  left: 30%;
  width: 25%;
}

.list{
  position: absolute;
  text-align: left;
  width: 100%;
  font-family: helvetica;
}
.listItem{
  line-height: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  line-height: 20px;
  font-size: 14px;
    background: #D0E5D5;
    border-radius: 3px;
    padding: 8px;
}
.header{
  font-family: times;
}

.bio{
  position: absolute;
  text-align: left;
  width: 100%;
  top: 100px;
  font-size: 24px;
  font-family: helvetica;
}
